<div id="about-container">
  <p class="page-header">about me

  </p>


  <img id="me-pic" src="https://i.sli.mg/ONH0Nz.jpg" />

  <hr />

  <p class="info-left">
    Short Version:  I'm a guy who spends too much time on the computer, but wishes he had more time to spend on the computer?
  </p>

  <hr />

  <p class ="info-right">

    Long Version:  I'm a 90's kid who grew up, hit the brick wall that is "real life", and very nearly flatlined before discovering something I actaully enjoyed doing enough to call a career.  Luckily, along the way I picked on up some skills in other areas I enjoy, such as marketing and sales.  I earned my mba and gained some great life experience as a claims adjuster and then as an event specialist at one of the top entertainment companies in Los Angeles.

  </p>

  <hr />

  <p class="info-left">
    In Los Angeles, I discovered my passion for web devlopment accidentally - I had more fun building my blog than I ever did writing content for it.  So, I dug deeper, and here I am - a graduate of the Tech Talent South bootcamp program here in New Orleans, LA, and a freelance developer.
  </p>

  <p >
    I'm not giving up on that blog thing, completely (that's what I keep telling myself).
  </p>

  <hr />

  <p class="info-right">
    <strong>Quick Stats:</strong>
    <br />
    <strong>Current Location:</strong> New Orleans, LA
    <br />
    <strong>Best Languages:</strong> HTML and CSS(duh), Ruby on Rails, Javascript, jQuery, English
    <br />
    <strong>Capable With:</strong> AngularJS, Ajax, Wordpress, Wix, <i>and much, much, more!</i>
    <br />
    <strong>Other Standout Skills:</strong> The ability to make a kick-ass portfolio, MBA degree, Tech Talent South graduate, excellent communicator with past experience in marketing and sales. <strong>Strong learning capability.  All skills except Ruby on Rails were self-taught.</strong>
  </p>
</div>
