<div id="about-container">
  <p class="page-header">about me

  </p>


  <img id="me-pic" src="https://i.sli.mg/ONH0Nz.jpg" />

  <hr />

  <p class="info-left">
    Short Version:  I'm a guy who spends too much time on the computer, but wishes he had more time to spend on the computer?
  </p>

  <hr />

  <p class ="info-right">

    Long Version:  I'm a millenial who grew up, hit the brick wall that is "real life", and very nearly gave up hope on finding a career that I could actually be passionate about - until I found web development.  Luckily, along the way I picked on up some skills in other areas I enjoy, such as marketing and sales.  After earning my MBA, I gained some great life experience as a Claims Adjuster and then as an Event Specialist at one of the top entertainment companies in Los Angeles.  Both positions allowed me to cultivate my interpersonal skills, but working as a first point of contact booking and planning events in Los Angeles really pushed me out of my comfort zone and allowed me to gain extensive business skills.

  </p>

  <hr />

  <p class="info-left">
    My passion for web development was actually discovered by accident.  I decided to create a hobbyist blog to maintain in my spare time, but ended up enjoying creating the framework and design of the website more than I ever did writing content for it. This lead to a curiosity in web development, prompting me to dig deeper and start teaching myself how to code.  After investing significant amounts of hard work and dedication into my new passion, I can proudly say that I am now a graduate of the Tech Talent South bootcamp program in New Orleans, LA, and a freelance developer.
  </p>

  <hr />

  <p class="info-right">
    <strong>Quick Stats:</strong>
    <br />
    <strong>Current Location:</strong> New Orleans, LA
    <br />
    <strong>Best Languages:</strong> HTML and CSS(duh), Ruby on Rails, Javascript, jQuery, English
    <br />
    <strong>Capable With:</strong> AngularJS, Ajax, Wordpress, Wix, <i>and much, much, more!</i>
    <br />
    <strong>Other Standout Skills:</strong> The ability to make a kick-ass portfolio, MBA degree, Tech Talent South graduate, excellent communicator with past experience in marketing and sales. <strong>Strong learning capability.  All skills except Ruby on Rails were self-taught.</strong>
  </p>
</div>
