<div id="contact-container">

  <p class="page-header">contact or follow me</p>
  <p>i am currently based out of new orleans, louisiana.</p>
  <hr />
  <p><strong>email:</strong> keith(dot)a(dot)clark24(at)gmail.com</p>

  <p>
    <strong>follow me on twitter!</strong> @KeithClarkDev
  </p>


</div>
