<div id="home-container">

  <p class="page-header" id="home-header">keith clark</p>
  <div >
    <p id="keith">
      web development for humans.
      <br />
      or animals.  or whatever.
    </p>
  </div>
  <p id="home-info">
    <br />
  </p>

</div>
