<div id="projects-container">


  <p class="page-header">projects</p>
  <p>check out some of my work:</p>
  <ul id="projects-list">
    <li>
      about this website:
      <br />
      this portfolio site is a rails app written as a single page website using jquery.  it's goal is to fulfil the dual purpose of displaying both my work and my skills with javascript, jquery, and single-page functionality.  also, hopefully you've noticed the sleek, minimalistic design (and how about that all lower-case asthetic?).
    </li>

    <hr />

    <li>
      breakonomics.com
      <br />
      breakonomics is a rails app including extensive back-end capability to monitor purchases and users.  it includes an eshop with paypal capability (the owner specifically requested paypal only).  devise was used to create account registry and login.  the owner
    </li>
  </ul>


</div>
