<div id="projects-container">


  <p class="page-header">projects</p>
  <p>Check out some of my work:</p>
  <ul id="projects-list">
    <li>
      About this website:
      <br />
      This portfolio site is a Ruby on Rails app written as a single-page website using jQuery. It's goal is to fulfil the dual purpose of displaying both my work and my skills with javascript, jquery, and single-page functionality.  Also, hopefully you've noticed the sleek, minimalistic design (and how about that trendy lower-case asthetic?).
    </li>

    <hr />

    <li>
      Breakonomics.com
      <br />
      Breakonomics is a Ruby on Rails app including extensive back-end capability to monitor purchases and users.  It includes an eShop with PayPal capability (the owner specifically requested PayPal only).  Devise was used to create account registry and login.  I re-branded the business as Breakonomics, and created the logo.
    </li>
  </ul>


</div>
